name: Release

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:
    inputs:
      version:
        description: Release version
        required: true

permissions:
  contents: write

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Get vars
        id: var
        run: |
          # Extract repo name from GITHUB_REPOSITORY variable
          repo="${{ github.repository }}"
          artifact="${repo##*/}"
          version="${{ github.event.inputs.version != '' && github.event.inputs.version || github.ref }}"
          version="${version##*/}"
          version="${version##v}"
          tag="v${version}"
          echo "artifact: ${artifact}"
          echo "version: ${version}"
          echo "tag: ${tag}"
          echo "version=${version}" >> $GITHUB_ENV
          echo "artifact=${artifact}" >> $GITHUB_ENV
          echo "file=${artifact}.msi" >> $GITHUB_ENV
          echo "full=${artifact}-${version}.msi" >> $GITHUB_ENV

      - name: Create Release
        run: |
          echo "File: ${{ env.file }}"
          echo "Full: ${{ env.full }}"
          echo "123-${{ env.file }}" > ${{ env.full }}
          echo "123-${{ env.file }}" > ${{ env.file }}

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ env.tag }}
          files: |
            ${{ env.file }}
            ${{ env.full }}
          make_latest: true
